# Node/Yarn/PNPM
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# Build output
client/dist

# Env & local config
.env
*.env.local
!/.env
!/.env.production

# SQLite data
data/
server/prisma/*.db
server/prisma/migrations/dev.db

# Prisma generated
server/generated/

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/
